<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>TaskMaster++</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="../Styles/styles.css"/>
    <link rel="stylesheet" href="../Styles/edit.css"/>

    <script type="module" src="../Scripts/buttonHandler.js"></script>
    <script type="module" src="../Scripts/editTask.js"></script>
  </head>

  <body>
    <h1 class="title">View/Edit Task</h1>
    <button id="back-button"><i class="fa-solid fa-arrow-left back-arrow"></i></button>

    <div id="file-container"></div>
</html>