<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>TaskMaster++</title>

    <link rel="stylesheet" href="../Styles/styles.css"/>
    <link rel="stylesheet" href="../Styles/index.css"/>

    <script type="module" src="../Scripts/buttonHandler.js"></script>
    <script type="module" src="../Scripts/index.js"></script>
  </head>
  <body>
    <img style="margin-bottom: 8vh;" src="../icon.png">

    <div id="menu-button-container">
      <button id="view-task-button" class="menu-button">View/Edit Task List</button> 
      <button id="view-notes-button" class="menu-button">View/Edit Note</button> 
      <button id="new-task-button" class="menu-button">New Task List</button> 
      <button id="new-note-button" class="menu-button">New Note</button> 
      <button id="quit-app" class="menu-button">Quit</button> 
    </div>
  </body>
</html>
